<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    <div style="background-color: #5b73e8; height: 120px;  " >

<ul style="color: white;list-style: none; display: flex; justify-content: center;justify-content: space-around; align-items: center;" >
    <li style="margin-top: 10px; margin-right: 310px;"> <img src="../../assets/SVG - EV2GO LOG0 - 10.11.22  (1).svg" alt=""height="60px" width="230px" ></li>

   <div style="display: flex; align-items: center; justify-content: space-between;">

     <li style="margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.91 15.51h-4.53a1 1 0 0 0 0 2h2.4A8 8 0 0 1 4 12a1 1 0 0 0-2 0a10 10 0 0 0 16.88 7.23V21a1 1 0 0 0 2 0v-4.5a1 1 0 0 0-.97-.99ZM15 12a3 3 0 1 0-3 3a3 3 0 0 0 3-3Zm-4 0a1 1 0 1 1 1 1a1 1 0 0 1-1-1Zm1-10a10 10 0 0 0-6.88 2.77V3a1 1 0 0 0-2 0v4.5a1 1 0 0 0 1 1h4.5a1 1 0 0 0 0-2h-2.4A8 8 0 0 1 20 12a1 1 0 0 0 2 0A10 10 0 0 0 12 2Z"/></svg></li>
    <li style="margin-right: 20px;"><img class="" src="../../assets/en.jpg" id="countryicon" alt="Header Language" height="16"></li>
    <li style="margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.18 4h2.1a1 1 0 0 0 0-2h-2.1a1 1 0 0 0 0 2ZM3 11.28a1 1 0 0 0 1-1v-2.1a1 1 0 0 0-2 0v2.1a1 1 0 0 0 1 1ZM14.46 4a1 1 0 0 0 2 0V3a1 1 0 0 0-1-1h-1a1 1 0 0 0 0 2ZM21 7.54h-4.54a1 1 0 1 0-2 0H8.54a1 1 0 0 0-1 1v5.92a1 1 0 1 0 0 2V21a1 1 0 0 0 1 1H21a1 1 0 0 0 1-1V8.54a1 1 0 0 0-1-1ZM20 20H9.54V9.54H20ZM4 2H3a1 1 0 0 0-1 1v1a1 1 0 0 0 2 0a1 1 0 0 0 0-2Zm0 12.46a1 1 0 0 0-2 0v1a1 1 0 0 0 1 1h1a1 1 0 0 0 0-2Z"/></svg></li>
    <li style="margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18 13.18V10a6 6 0 0 0-5-5.91V3a1 1 0 0 0-2 0v1.09A6 6 0 0 0 6 10v3.18A3 3 0 0 0 4 16v2a1 1 0 0 0 1 1h3.14a4 4 0 0 0 7.72 0H19a1 1 0 0 0 1-1v-2a3 3 0 0 0-2-2.82ZM8 10a4 4 0 0 1 8 0v3H8Zm4 10a2 2 0 0 1-1.72-1h3.44A2 2 0 0 1 12 20Zm6-3H6v-1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1Z"/></svg></li>
    <li style="background-color: #f6f6f6; height: 40px; width: 40px; border-radius: 190%;display: flex; justify-content: center;align-items: center;"><img src="../../assets/user.jpg" alt="" height="36px" width="36px" style="border-radius: 50%;"></li>
    <li style='margin-left: 10px;'>ev2go<i class="bi bi-chevron-down"></i></li>
   </div>
</ul>    
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
              <ul style="list-style: none; display: flex; justify-content:left;  padding-top: 15px; font-size: 14px;">
                <li style="color: #052a87; justify-content: center; align-items: center;" class="d"><label for=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m20 8l-6-5.26a3 3 0 0 0-4 0L4 8a3 3 0 0 0-1 2.26V19a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-8.75A3 3 0 0 0 20 8Zm-6 12h-4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1Zm5-1a1 1 0 0 1-1 1h-2v-5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v5H6a1 1 0 0 1-1-1v-8.75a1 1 0 0 1 .34-.75l6-5.25a1 1 0 0 1 1.32 0l6 5.25a1 1 0 0 1 .34.75Z"/></svg> Dashboard <i class="bi bi-chevron-down"></i></label> </li>

              <li style="color: #052a87; margin-left: 30px;" class="d"> <label for=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m21.32 5.05l-6-2h-.07a.7.7 0 0 0-.14 0h-.43L9 5L3.32 3.05a1 1 0 0 0-.9.14A1 1 0 0 0 2 4v14a1 1 0 0 0 .68.95l6 2a1 1 0 0 0 .62 0l5.7-1.9L20.68 21a1.19 1.19 0 0 0 .32 0a.94.94 0 0 0 .58-.19A1 1 0 0 0 22 20V6a1 1 0 0 0-.68-.95ZM8 18.61l-4-1.33V5.39l4 1.33Zm6-1.33l-4 1.33V6.72l4-1.33Zm6 1.33l-4-1.33V5.39l4 1.33Z"/></svg> Map <i class="bi bi-chevron-down"></i></label> </li>
              <li style="color: #052a87;  margin-left: 30px;" class="d">
            
                <label for="">     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 13H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7H4v-5h5ZM21 2h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm-1 7h-5V4h5Zm1 4h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7h-5v-5h5ZM10 2H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1ZM9 9H4V4h5Z"/>
                </svg> View <i class="bi bi-chevron-down"></i></label> 
        </li>
              <li style="color: #052a87;  margin-left: 30px;" class="d">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 13H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7H4v-5h5ZM21 2h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm-1 7h-5V4h5Zm1 4h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7h-5v-5h5ZM10 2H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1ZM9 9H4V4h5Z"/></svg>
                Utility <i class="bi bi-chevron-down"></i>
            </li>
              <li style="color: #052a87;  margin-left: 30px;" class="d">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 13H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7H4v-5h5ZM21 2h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm-1 7h-5V4h5Zm1 4h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7h-5v-5h5ZM10 2H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1ZM9 9H4V4h5Z"/></svg>
                Accounts <i class="bi bi-chevron-down"></i>
            </li>
              <li style="color: #052a87;  margin-left: 30px;" class="d">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 13H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7H4v-5h5ZM21 2h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1Zm-1 7h-5V4h5Zm1 4h-7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Zm-1 7h-5v-5h5ZM10 2H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1ZM9 9H4V4h5Z"/></svg>
                Settings <i class="bi bi-chevron-down"></i>
                </li>
            </ul>
            </div>
          </div><br>
<div style="display: flex; justify-content: space-between;">
    <div>
        <h4 style="font-size: 18px; font-weight: 600;">Analytics Dashboard</h4>
        </div>
        <div>
        <span style="font-size: 18px;">Balance : 1 Credits</span> <button style="color: white;" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z"/></svg> Request Credit</button>
        </div>
</div>
    </div>
  
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     AIzaSyCyxa0d5VJiM4MCBrdLrSCa_CRA0TTYhpA 
</body>
</html> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<div id="map-container">
  <div id="map"></div>
 
  <div style="position: absolute; top: 30%;">

  
<!-- app.component.html -->
<!-- app.component.html -->
<div id="mySidenav" [style.width.px]="isNavOpen ? 345 : 0" class="sidenav" style="color: black;">
<ul style="justify-content:start; padding: 5px; font-size :15px;" >
<li style="padding-left: 5px; background-color: white;" (click)="showCard('vehicle')" ><i class="bi bi-car-front-fill"></i>Vehicle</li>
<li style="padding-left: 10px;" (click)="showCard('history')"><i class="bi bi-geo-alt-fill" ></i>History</li>
<li style="padding-left: 12px;" (click)="showCard('event')"><i class="bi bi-bell-fill"></i> Events</li>
</ul>
<!-- <div class="card">
  
    <div *ngIf="selectedCard === 'vehicle'" class="card-body">
      
        <div style="justify-content: center; display: flex; align-items: center; margin-top: -15px; "><input type="search" style="width: 350px; height: 30px; border-radius: 0px;  border: 1px solid pink" placeholder="Search " class="bi bi-search"><button style="font-weight: bold; padding: 3px 2px 3px 2px; border: 0px;"><i class="bi bi-arrow-repeat"></i></button></div>
        <div class="child">
          <table style="color: #333; font-size: 11px; border: 1px solid #dee2e6; width: 100%;margin-bottom:1rem;display: table; border-spacing: 2px; box-sizing: border-box;" class="table table-bordered border"  >
            <thead>
              <tr>
                <th style="align-items: center;">ss</th>
                <th>Device</th>
                <th><img src="http://www.gpsmyeye.com/UI2022/images/icons/dashboard.svg" alt="" height="18" width="18"></th>
                <th ><img src="../../assets/07.12.2023_18.25.04_REC.png" alt="" width="18px" height="18px"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
                <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                  <label >16-Nov-2023 03:48:43 PM</label>
                </div></td>
                <td>0 Km/hr</td>
                <td>0 Km</td>
              </tr>
              <tr>
                <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
                <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                  <label >16-Nov-2023 03:48:43 PM</label>
                </div></td>
                <td>0 Km/hr</td>
                <td>0 Km</td>
              </tr>
              <tr>
                <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
                <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                  <label >16-Nov-2023 03:48:43 PM</label>
                </div></td>
                <td>0 Km/hr</td>
                <td>0 Km</td>
              </tr>
              <tr>
                <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
                <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                  <label >16-Nov-2023 03:48:43 PM</label>
                </div></td>
                <td><strong>0</strong> Km/hr</td>
                <td>0 Km</td>
              </tr>
              <tr>
                <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
                <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                  <label >16-Nov-2023 03:48:43 PM</label>
                </div></td>
                <td>0 Km/hr</td>
                <td>0 Km</td>
              </tr>
            </tbody>
          </table>
        </div>
    
    </div>
    <div *ngIf="selectedCard === 'history'" class="card-body">
      <div style=" font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px; " class="container"><label for="" style="margin-right: 100px;">Vehicle</label> <select name="" id="" ><option value="">M6WRK1101PA000290</option></select><br></div>
    </div><span style="font-size: 12px; margin-left: 160px;">{{id}}</span>

  <div style=" font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px; " class="container"><label for="" style="margin-right: 100px;"> <b>from</b></label> <input type="datetime" style="width: 2000px; "></div>
  
  <div style=" font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px; " class="container"><label for="" style="margin-right: 115px; font-weight: 700px; margin-top: 5px;"> <b>To</b></label> <input type="datetime" style="width: 2000px; "></div>
  <div style=" font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px; " class="container"><label for="" style="margin-right: 100px;">Stops</label> <select name="" id="" ><option value="">M6WRK1101PA000290</option></select><br></div>
<hr>
<img src="http://www.gpsmyeye.com/UI2022/images/map-history.png" alt="">
    <div *ngIf="selectedCard === 'events'">
      <p>This is the events content.</p>
    </div>
  </div> -->

  <div class="card">
    <div *ngIf="selectedCard === 'vehicle'" class="card-body">
      <div style="justify-content: center; display: flex; align-items: center; margin-top: -15px;">
        <input type="search" style="width: 350px; height: 30px; border-radius: 0px;  border: 1px solid pink" placeholder="Search " class="bi bi-search">
        <button style="font-weight: bold; padding: 3px 2px 3px 2px; border: 0px;"><i class="bi bi-arrow-repeat"></i></button>
      </div>
      <!-- Vehicle card content -->
      <div class="child">
        <!-- Replace this with your actual content -->
        <table style="color: #333; font-size: 11px; border: 1px solid #dee2e6; width: 100%; margin-bottom: 1rem; display: table; border-spacing: 2px; box-sizing: border-box;" class="table table-bordered border">
          <!-- Your table content goes here -->
          <thead>
            <tr>
              <th style="align-items: center;">ss</th>
              <th>Device</th>
              <th><img src="http://www.gpsmyeye.com/UI2022/images/icons/dashboard.svg" alt="" height="18" width="18"></th>
              <th ><img src="../../assets/07.12.2023_18.25.04_REC.png" alt="" width="18px" height="18px"></th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="openFooter()">
              <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
              <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                <label >16-Nov-2023 03:48:43 PM</label>
              </div></td>
              <td>0 Km/hr</td>
              <td>0 Km</td>
            </tr>
            <tr>
              <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
              <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                <label >16-Nov-2023 03:48:43 PM</label>
              </div></td>
              <td>0 Km/hr</td>
              <td>0 Km</td>
            </tr>
            <tr>
              <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
              <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                <label >16-Nov-2023 03:48:43 PM</label>
              </div></td>
              <td>0 Km/hr</td>
              <td>0 Km</td>
            </tr>
            <tr>
              <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
              <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                <label >16-Nov-2023 03:48:43 PM</label>
              </div></td>
              <td><strong>0</strong> Km/hr</td>
              <td>0 Km</td>
            </tr>
            <tr>
              <td><span style="background-color: #17a2b8;     width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"></span></td>
              <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
                <label >16-Nov-2023 03:48:43 PM</label>
              </div></td>
              <td>0 Km/hr</td>
              <td>0 Km</td>
            </tr>
          </tbody>
        </table>
     
      </div>
    </div>
  
    <div *ngIf="selectedCard === 'history'" class="card-body">
      <div style="font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px;" class="container">
        <label for="" style="margin-right: 100px;">Vehicle</label>
        <select name="" id="">
          <option value="">M6WRK1101PA000290</option>
        </select>
        <br>
      </div>
      <!-- History card content -->
      <div style="margin-left: 160px; font-size: 12px;">{{id}}</div>
      <div style="font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px;" class="container">
        <label for="" style="margin-right: 100px;"> <b>from</b></label>
        <input type="datetime" style="width: 2000px;">
      </div>
      <div style="font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px;" class="container">
        <label for="" style="margin-right: 115px; font-weight: 700px; margin-top: 5px;"> <b>To</b></label>
        <input type="datetime" style="width: 2000px;">
      </div>
      <div style="font-size: 13px; margin-top: 10px;justify-content: space-around; display: flex; text-align: center;width: 200px; height: 30px; padding: 0px;" class="container">
        <label for="" style="margin-right: 100px;">Stops</label>
        <select name="" id="">
          <option value="">M6WRK1101PA000290</option>
        </select>
        <br>
      </div>
      <hr>
      <img src="http://www.gpsmyeye.com/UI2022/images/map-history.png" alt="">
    </div>
  
    <div *ngIf="selectedCard === 'events'" class="card-body">
      <!-- Events card content -->
      <div style="justify-content: center; display: flex; align-items: center; margin-top: -15px;">
        <input type="date" style="width: 350px; height: 30px; border-radius: 0px;  border: 1px solid pink" placeholder="DD-MM-YY " class="bi bi-search">
        <button style="font-weight: bold; padding: 3px 2px 3px 2px; border: 0px;"><i class="bi bi-arrow-repeat"></i></button>
      </div>
      <table style="color: #333; font-size: 11px; border: 1px solid #dee2e6; width: 100%; margin-bottom: 1rem; display: table; border-spacing: 2px; box-sizing: border-box;" class="table table-bordered border">
        <!-- Your table content goes here -->
        <thead>
          <tr>
            <th style="align-items: center;"></th>
            <th>event</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
          <td><span style= "width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"><i class="bi bi-bell-fill"></i></span></td>
            <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
              <label >16-Nov-2023 03:48:43 PM</label>
            </div></td>
         
          </tr>
          <tr>
            <td><span style= "width: 10px;height: 10px;border-radius: 100%;display: inline-block ;justify-content: center;text-align: center; margin-top: 10px;"><i class="bi bi-bell-fill"></i></span></td>
            <td><div ><strong style="font-size: 12px;">M6WRK1106PA000396 </strong>
              <label >16-Nov-2023 03:48:43 PM</label>
            </div></td>
            
          </tr>
          <tr>
          
        
        </tbody>
      </table>

    </div>
  </div>

</div>




<div class="main-content" [style.marginLeft.px]="isNavOpen ? 345 : 0">
  
  <span style="font-size:30px;cursor:pointer" (click)="toggleNav()"><button style="width: 20px; height: 50px; font-weight: 900;"><b><i class="bi bi-chevron-right" style="font-size:16px; text-align: center; display: flex; justify-content: center; "></i></b></button></span> <br>

  

</div>


  </div>
  <div class="footer" *ngIf="showFooter">
    <button (click)="closeFooter()">X</button>
    <p>This is the footer content.</p>
  </div>
  
  <ul id="blue-circle" style="margin-left: 260px;">
    <li style="width: 55px; height: 55px;background-color: #565656;border-radius: 50%;margin-left: 5px; display: block; color: white; justify-content: center; align-items: center; font-size: 14px; text-align: center; padding-top: 8px;">  <span >49</span> <br><span style="font-size: 13px;">All</span></li>
    <li style="width: 55px; height: 55px;background-color: #0f7b3f;border-radius: 50%;margin-left: 5px;display: block; color: white; justify-content: center; align-items: center; font-size: 14px; text-align: center; padding-top: 8px;">  <span >6</span> <br><span style="font-size: 11px;">Running</span></li>
    <li style="width: 55px; height: 55px;background-color: #e71c39;border-radius: 50%;margin-left: 5px;display: block; color: white; justify-content: center; align-items: center; font-size: 14px; text-align: center; padding-top: 8px;">  <span >8</span> <br><span style="font-size: 12px;">Stop</span></li>
    <li style="width: 55px; height: 55px;background-color: #dfb626;border-radius: 50%;margin-left: 5px;display: block; color: white; justify-content: center; align-items: center; font-size: 14px; text-align: center; padding-top: 8px;">  <span >9</span> <br><span style="font-size: 12px;">Idle</span></li>
    <li style="width: 55px; height: 55px;background-color: #3d8bca;border-radius: 50%;margin-left: 4px;display: block; color: white; justify-content: center; align-items: center; font-size: 14px; text-align: center; padding-top: 8px;">  <span >11</span> <br><span style="font-size: 12px;">Inactive</span></li>
  </ul>
</div>


