<div id="mySidenav" [style.width.px]="isNavOpen ? 250 : 0" class="sidenav">
  <img src="../../assets/aad583b3-d084-464c-8430-901d37fce6ee.jpg" alt="" height="130px" width="180px" style="margin: 20px 15px 0px 25px;">
  <hr style="color: white; font-weight: 900;">

    <h5 style="color: white; justify-content: center; margin-top: 15px; margin-left: 25px;">Hub Dashboard</h5>

    <hr style="color: white; font-weight: 900;">
    <!-- <a href=""  >Verification</a> -->
    <a href="/VE">Vehicle Add</a>
    <a href="io" >IOT</a>
    <a href="re">Maintenance</a>
    <a href="fi">Finance</a>
    <a href="tl">Recovery</a>
  </div>
  
  <div class="main-content" [style.marginLeft.px]="isNavOpen ? 250 : 0">
    
    <span style="font-size:30px;cursor:pointer" (click)="toggleNav()">&#9776;</span> <br>
    
    <div class="modal fade; modal-dialog modal-xl" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" >
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content" style="background-color: rgb(236, 236, 227);">
           
            <div class="modal-body">
                <div class="container">
                    <div  style="border:1px solid rgb(236, 236, 227);overflow-y: auto; max-height: 600px;" >
                        <div class="v">
                        <form class="form-group"><br><br>
                             <h2 style="margin-left: 20px; margin-top: -20px;" ><strong>Add New Vehicle</strong></h2> <br>                
                                <div class="d">
                                    <div class="row">
                                        <div class='col-md-3'>
                                            <label for="">ETM ID*</label> 
                                        <input type="text" class="form-control" name="username" [(ngModel)]="username">
                                         </div>
                                  <div class='col-md-3'>
                                    <label for="">Date Of Purchase</label>
                                    <br>
                                    <input type="text" class="form-control" name="password" [(ngModel)]="password">
                                 </div>
                                
                                  <div class='col-md-3'>
                                    <label for="">Model</label> <br>
                                    <input type="text" class="form-control" name="mobile"[(ngModel)]="mobile">
                                 </div>
                                  <div class='col-md-3'>
                                    <label for="">Charger No</label> <br>
                                    <input type="text" class="form-control" name="mobile">
                                 </div>
                                </div>
                            </div>
                    <br>
                                 <div class="d">
                                <div class="row">
                                    
                              <div class='col-md-3'>
                                <label for="">Chassis No*</label>
                                <br>
                                <input type="text" class="form-control" name="resno"[(ngModel)]="resno">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Registration No*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Master Doc ID</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Controller No*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              
                              
                            </div>
                        </div>
                        <br>
                                 <div class="d">
                                <div class="row">
                                    
                              <div class='col-md-3'>
                                <label for="">Color *</label>
                                <br>
                                <input type="text" class="form-control" name="resno"[(ngModel)]="resno">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Brand*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Battery Type</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Battery Confrigation*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              
                              
                            </div>
                        </div>
                        <br>
                                 <div class="d">
                                <div class="row">
                                    
                              <div class='col-md-3'>
                                <label for="">Battery No 1 *</label>
                                <br>
                                <input type="text" class="form-control" name="resno"[(ngModel)]="resno">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Battery No 2*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Key FOB No</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Vehicle Type*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              
                              
                            </div>
                        </div>
                        <br>
                                 <div class="d">
                                <div class="row">
                                    
                              <div class='col-md-3'>
                                <label for="">Location*</label>
                                <br>
                                <input type="text" class="form-control" name="resno"[(ngModel)]="resno">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Accessories*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Dealership Name</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                              <div class='col-md-3'>
                                <label for="">Dealership Phone No*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                           
                              
                              
                            </div>
                        </div>
                    <br>
                           
                        
                    
                    <div class="d">
                        <div class="row">
                            
                            <div class='col-md-3'>
                                <label for="">Dealership Location*</label> <br>
                                <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                             </div>
                      <div class='col-md-3'>
                        <label for="">Motor Power</label> <br>
                        <input type="text" class="form-control" name="devicetype"[(ngModel)]="devicetype">
                     </div>
                      <div class='col-md-3'>
                        <label for="">Policy No</label> <br>
                        <input type="text" class="form-control" name="devicetype"[(ngModel)]="devicetype">
                     </div>
                      <div class='col-md-3'>
                        <label for="">Motor Power</label> <br>
                        <input type="text" class="form-control" name="devicetype"[(ngModel)]="devicetype">
                     </div>
                     <div class='col-md-3'>
                        <label for="">Motor No*</label> <br>
                        <input type="text" class="form-control" name="deviceID"[(ngModel)]="deviceID">
                     </div>
                    </div>
                    <br><br>
                
                  
                    <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
                      <button class="btn btn-primary"  data-bs-toggle="modal" style="padding: 10px 100px 10px 100px; ">Cancle</button>
                      
                      <a href="alldata" style="text-decoration: none;color: black;"><button (click)="onset()" class="btn btn-primary" data-bs-toggle="modal" style="margin-left: 1%; padding: 10px 100px 10px 100px;">Add</button></a>
                    </div>
                </div>
                           <br>
                            
                        </form>
                    </div>
                    </div>
                    </div>
    
            </div>
            
          </div>
        </div>
      </div>
    
      <button style="padding: 8px 55px 8px 55px; font-weight: 700; font-size: 20px; margin-left: 100px"  data-bs-target="#exampleModalToggle" data-bs-toggle="modal">+Add Vehicle</button>
      <a href="https://docs.google.com/spreadsheets/d/14-bal83MJpCe_HEdizG25opgwB03aoHKFTqHtlGo4zo/export?format=csv&id=14-bal83MJpCe_HEdizG25opgwB03aoHKFTqHtlGo4zo&gid=10341254&single=true" style="text-decoration: none; color: black;">
        <button style="padding: 8px 55px 8px 55px; font-weight: 700; font-size: 20px; margin-left: 10px"  >Download Template</button>
  
        </a>   
           <button style="padding: 8px 55px 8px 55px; font-weight: 700; font-size: 20px; margin-left: 10px"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Upload Data</button>
    
      <table class="table" cellpadding="10" cellspacing="7" style="border: 2px solid beige; margin-top: 25%;">
        <tr style="background-color: rgb(53, 19, 131); color: white">
            <th>Sr.No.</th>
            <th>ETM ID</th>
            <th>Date Of Purchase</th>
            <th>Model</th>
            <th>Charger No</th>
            <th>Chassis No</th>
            <th>Registration No</th>
            <th>Master Doc ID</th>
            <th>Controller No</th>
            <th>Color</th>
            <th>Brand</th>
            <th>Battery Type</th>
            <th>Battery Confrigation</th>
            <th>Battery No 1</th>
            <th>Battery No 2</th>
            <th>Key FOB No</th>
            <th>Vehicle Type</th>
            <th>Location</th>
            <th>Accessories</th>
            <th>Dealership Name</th>
            <th>Dealership Phone No</th>
            <th>Dealership Location</th>
            <th>Motor Power</th>
            <th>Policy No</th>
            <th>Motor No</th>
        </tr>
        <tr *ngFor="let row of data">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
    </table>
    
  </div>

  <!-- <input type="file" (change)="onFileChange($event)" />
  <button (click)="displayData()">Display Data</button> -->

  
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="file" (change)="onFileChange($event)" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="displayData()" data-bs-dismiss="modal">Upload</button>
      </div>
    </div>
  </div>
</div>
   
